# Pandas

Last week we looked at the Iris data, which came as a CSV file.
We then computed an average for each species in the file, which took a little effort
since we couldn't load the entire file into a single NumPy array.

There is another tool, called Pandas, that does allow for us to work on CSV-like data easily. It extends the NumPy arrays with another data type called a _DataFrame_.
A DataFrame is a list of records, and the records can be heterogenous, unlike NumPy arrays.

In [ ]:
!cp ../week01-command-line/iris.csv .

In [4]:
import pandas as pd 
data = pd.read_csv("iris.csv")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

We can access each column or row as desired:

In [8]:
data['petal_length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

To get a specific record, use the `iloc` accessor:

In [14]:
data.iloc[2]

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

Confusingly, to get a range of rows, we just use a range in the square brackets:

In [15]:
data[0:10]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [5]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

We can calculate derived values, say the petal ratio:

In [18]:
ratio = data['petal_length']/data['petal_width']
ratio

0      7.000000
1      7.000000
2      6.500000
3      7.500000
4      7.000000
         ...
145    2.260870
146    2.631579
147    2.600000
148    2.347826
149    2.833333
Length: 150, dtype: float64

And add this column back to the dataset (in memory):

In [20]:
data["petal_ratio"] = ratio
data

,sepal_length,sepal_width,petal_length,petal_width,species,petal_ratio
0,5.1,3.5,1.4,0.2,setosa,7.000000
1,4.9,3.0,1.4,0.2,setosa,7.000000
2,4.7,3.2,1.3,0.2,setosa,6.500000
3,4.6,3.1,1.5,0.2,setosa,7.500000
4,5.0,3.6,1.4,0.2,setosa,7.000000
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2.260870
146,6.3,2.5,5.0,1.9,virginica,2.631579
147,6.5,3.0,5.2,2.0,virginica,2.600000
148,6.2,3.4,5.4,2.3,virginica,2.347826
149,5.9,3.0,5.1,1.8,virginica,2.833333

Now we can group by the species category and calculate the mean on each sub-group:

In [21]:
data.groupby("species").mean()

            sepal_length  sepal_width  petal_length  petal_width  petal_ratio
species
setosa             5.006        3.418         1.464        0.244     7.078000
versicolor         5.936        2.770         4.260        1.326     3.242837
virginica          6.588        2.974         5.552        2.026     2.780662